<div class="container">
    <div class="row">
        <div class='col-md-3'>
            <%= form_for @trip, class: 'form-group' do |f| %>

              <div class="field">
                <%= f.label "Voting Deadline" %>
                <div class='input-group date' id='datetimepicker3'>

                    <%= f.text_field :deadline_locations, :as => :datetime_picker %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            <div class="actions">
              <%= f.submit %>
            </div>
            <button id="setMinDate">setMinDate</button>
            <button id="setMaxDate">setMaxDate</button>
            <button id="show">show</button>
            <button id="disable">disable</button>
            <button id="enable">enable</button>
            <button id="setDate">setDate</button>
            <button id="getDate">getDate</button>
            <% end %>
        </div>
    </div>
</div>