<div class="trips" ng-controller="TripCtrl as trip">

  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div class="user_profile">
              <%= image_tag current_user.largeimage %><br />
              <%= current_user.name %>
            </div>
            <div class="trips_list">
                <a href="#">Dashboard</a>
            </div>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

  <h1 class="text-center">Your Trips</h1>

  <div class="row trips" ng-repeat="trip in trips">
    <a ng-href="/trips/{{ trip.id }}" class="col-md-3">{{ trip.name }} </a>
  </div>
  <%= link_to 'New Trip', new_trip_path %>
  </div>
</div>

