<div class="trips" ng-controller="TripCtrl as trip">
  <h1 class="text-center">Your Trips</h1>

  <div class="row trips" ng-repeat="trip in trips">
    <a ng-href="/trips/{{ trip.id }}" class="col-md-3">{{ trip.name }} </a>
  </div>
</div>

<%= link_to 'New Trip', new_trip_path %>
