<div class="trips" ng-controller="TripCtrl as trip">

  <% if current_user.trips.count == 0 %>
    <h1 class="text-center">You have no trip planned yet, let's get tempted:</h1>
    <%= link_to 'Plan a New Trip with your Friends Now!', new_trip_path, class: "btn btn-lg btn-default" %><div>
  <% else %>
    <h1 class="text-center">Enjoy the trip to come!</h1>
  <% end %>

</div>
