/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #full-screen-background-image {
   z-index: -999;
   min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
 }

// body {
//   background-image:image-url('matterhorn.jpg');
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   overflow-y: scroll;
//   background-size: cover;
//   position: fixed;
//   top: 0;
//   left: 0;
//   padding-top: 60px;
// }

/* universal */

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.display {
  margin-left: 240px;
}

 /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

h3 {
  font-size: 0.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.header-space {
  background-color: #A8A8A8;
  opacity: 0.7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 1200px;
  position: relative;
}

.header {
  z-index: 50;
  background-color: #A8A8A8;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  letter-spacing: -2px;
  text-align: center;
  color: white;
  position: relative;
}

.title {
  padding-top: 30px;
  font-size: 3em;
  font-family: Helvetica;
}
.subtitle {
  font-size: 2em;
  margin-bottom: 50px;
  padding-bottom: 30px;
  font-family: Helvetica;
}

.display {
  color: white;
}

/* container */

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  }

.panel-body {
  padding: 15px;
  background-color: #fff;
  color: #333;
  }

.main-vote {
  float: left;
  width: 100%;
}

