// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab-content {
    border: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0 !important;
}

.individual-item {
  font-weight: bold;
  font-size: 2em;
  display: inline;

}

.deadline-title {
  font-size: 1em;
  font-weight: bold;
}