// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bannertron {
  background-image: image-url('background_plain.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.bannertron .container {
  position: relative;
  top:100px;
  padding-left: 250px;
}

.bannertron h1 {
  color: #A2A9AF;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: left;
}

.bannertron p {
  font-size: 20px;
  color: #A2A9AF;
}

.mynav {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid;
  border-radius: 4px;
}

.mynav:visited {
  color: #666;
}
a {
  text-decoration: none !important;
  color: #A2A9AF !important;
}
$nav-top: 50px;

body {
  padding-top: $nav-top;
}

.navbar-brand {
  font-family: Mf End of the Dream;
  font-size: 30px !important;
}

.navbar-nav {
  li {
    color: #9d9d9d;
  }
}